<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read" />
        <security>
            <requestFiltering>
                <fileExtensions allowUnlisted="true">
                    <add fileExtension=".php" allowed="false" />
                    <add fileExtension=".phtml" allowed="false" />
                    <add fileExtension=".phar" allowed="false" />
                    <add fileExtension=".php3" allowed="false" />
                    <add fileExtension=".php4" allowed="false" />
                    <add fileExtension=".php5" allowed="false" />
                    <add fileExtension=".php7" allowed="false" />
                    <add fileExtension=".php8" allowed="false" />
                    <add fileExtension=".phps" allowed="false" />
                    <add fileExtension=".asp" allowed="false" />
                    <add fileExtension=".aspx" allowed="false" />
                    <add fileExtension=".jsp" allowed="false" />
                    <add fileExtension=".cgi" allowed="false" />
                    <add fileExtension=".pl" allowed="false" />
                    <add fileExtension=".py" allowed="false" />
                    <add fileExtension=".sh" allowed="false" />
                    <add fileExtension=".bash" allowed="false" />
                    <add fileExtension=".exe" allowed="false" />
                    <add fileExtension=".bat" allowed="false" />
                    <add fileExtension=".cmd" allowed="false" />
                    <add fileExtension=".vbs" allowed="false" />
                    <add fileExtension=".env" allowed="false" />
                    <add fileExtension=".config" allowed="false" />
                    <add fileExtension=".ini" allowed="false" />
                    <add fileExtension=".htaccess" allowed="false" />
                    <add fileExtension=".svg" allowed="false" />
                    <add fileExtension=".html" allowed="false" />
                    <add fileExtension=".htm" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
            </customHeaders>
        </httpProtocol>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
